.about-main{
  border:1px solid rgb(222, 214, 214) ;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 45vh;
  width: 450px;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%,-50%);
  top: 20%;
  left:25%;
  background-color: rgb(255, 255, 255);
}
.about-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background:rgb(164, 30, 104);
  color: white;

}
.about-close{
  font-size: 25px;
  color:rgb(15, 195, 236);
}
.about-Image{
  width: 12vW;
  margin-top: 20px;
}
.about-footer{
  background:rgb(164, 30, 104);
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 2vh;
  color: aliceblue;
  
}
.about-content{
text-align: center;
justify-content: center;
}

.about-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
