.sidebar{
    background: linear-gradient(274.58deg, #FFFFFF 3.98%, #D7D7D7 96.57%);
    margin-left: 0px;
    min-height: 83vh;
    margin-top: 0px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.menu{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-4icons{
    height:200px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.menu.open {
    transform: rotate(270deg);
    transition: 2s;
}

.sidebar-4icons.open {
    transform: translateY(5%);
    transition: 2s;
}
